input {
  border: 1px solid grey;
  padding: 5px;
  border-radius: 5px;
}

.submit-button,
.add-song,
.delete-button {
  background-color: lightgreen;
  border: 1px solid grey;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
  grid-column: 1 / -1;
}

.album-form {
  display: grid;
  grid-template-columns: 100px 200px;
  grid-gap: 20px;
  justify-content: center;
}

.albums-list {
  margin: 20px;
  display: grid;
  grid-template-columns: 100px 1fr auto;
}

.album-item {
  border: 1px solid grey;
}
