body {
  background-color: #59ABE3;  
  font-family: "Lato", sans-serif;
  font-style: inherit;
}

article {
  padding-top: 1em;
}
h1 {
  background-image: linear-gradient(to bottom right, blue, yellow);
  font-size: 3em;
  max-width: 620px;
  border-radius: 8px;

}

h2 {
font-weight: bold;
padding-left: 4em;
margin-top: 0;
color: white;
}

label {
  font-size: 1.5em;
  font-weight: bold;
}

input {
  padding: 0.8em;
  margin: 0.5em 0.5em 0em 0.5em;
}

section {
  font-size: 1.1em;
  font-weight: bold;
  line-height: 2em;
  background-image: linear-gradient(to bottom right, blue, yellow);
  border-radius: 16px;
  padding: 4px 9px;
  max-width: 350px; 
}

#container p {
  color: white;
  background-image: linear-gradient(to bottom right, blue, yellow);
  padding-left: 4em;
}
img {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 16px;
  top: 3.5em;
  right: 3.5em;
  width: 350;
  height: 450px;
}

button {
  padding: 0.6rem 1rem;
  font-size: 1.1em;
  margin: 1rem 0;
  border: none;
  color: white;
  background-image: linear-gradient(to bottom right, blue, yellow);
  border-radius: 5px;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

#errorContainer p {
  background-color: black;
  padding-left: 5em;
  font-size: 1.5em;
  color: red;
  max-width: 500px;
  border-radius: 8px;
}
 