body {
  background-color: lightgrey;
}
header {
  border: 1px solid black;
  background-color: #f3f3f3;
}

.nav-button {
  cursor: pointer;
  outline: none;
  border: none;
  color: #666666;
  background-color: #f3f3f3;
  padding: 15px;
  font-weight: bold;
}


.highlight {
  background-color: blue;
}

.details {
font-family: 'Times New Roman', Times;
}

#title {
  margin: 0;
  text-align: center;
  font-size: 3em;
  color: black;
}

#author {
  text-align: center;
  margin: 0;
  font-size: 3em;
}

#songs {
text-align: center;
font-size: 2em;
}

#img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}


