body {
  background-image: url("landscape.jpeg");
  background-size: cover;
  font-family: "Lato", sans-serif;
}

article {
  
  text-align: center;
}

h1 {
  font-size: 4.5em;
  color: white;
  text-align: center;
  margin-top: 0;
}

h2 {
font-size: 4em;
font-weight: bold;
color: white;
}

label {
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  
}

input {
  padding: 0.8em;
  margin: 0.5em 0.5em 0em 0.5em;
}

section {
 text-align: center;
}

img {
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 16px;
  top: 3.5em;
  right: 3.5em;
  width: 350;
  height: 450px;
}

button {
  padding: 0.6rem 1rem;
  font-size: 1.1em;
  margin: 1rem 1rem;
  color: white;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(0, 162, 255));
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

#container p {
  color: white;
}

#errorContainer p {
  background-color: black;
  padding-left: 5em;
  font-size: 1.5em;
  color: red;
  max-width: 500px;
  border-radius: 8px;
}